{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h2>{{company.company_name}}</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="/ob/register/employee/"><button>Add Employee</button></a>
    </div>
    <div class="col-md-8">
        <h3>Invite link : http://localhost:8000/ob/register/employee/{{company.pk}}</h3> 
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <th scope="col">
                Username
            </th>
            <th scope="col">
                Email
            </th>
            <th>
                Profile
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </thead>
        {% for employee in company.employees.all %}
                    <tr>
                        <td>
                            {{employee.user.username}}
                        </td>
                        <td>
                            {{employee.user.email}}
                        </td>
                        <td>
                                {{employee.profile}}
                        </td>
                        <td>
                           <a href="/ob/edit/employee/{{employee.pk}}/"> <button> Edit</button></a>
                        </td>
                        <td>
                            <a href="/ob/delete/employee/{{employee.pk}}/"><button>Delete</button></a>
                        </td>
                    </tr>
   
        {% endfor %}
    </table>
</div>
{% endblock %}